.container {
  background-color: #fff;
}

.node {
  background-color:#fff;
  cursor:pointer;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: 0.6;
}

.label {
  font-size: 13px;
  fill: #000;
  cursor:pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
